#title{
    text-align: center;
    font-family: sans-serif;

}

#description{
    text-align: center;
    font-style: italic;
    font-size: large;
}

#survey-form{
    display: flex;
    flex-direction: column;
}

